{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/airbnbapp.css' %}" />
<link rel="stylesheet" href="{% static 'css/skins/skin-custom.css' %}">
<html>
{% include 'header.html' %}

<body class="hold-transition skin-custom sidebar-mini">
  <div class="wrapper">
    <header class="main-header header-browse">
      {% include 'pagehead.html' %}
    </header>
    <aside class="main-sidebar main-sidebar-wide" style="background-color: #fff;">
      <section class="sidebar">
        <div id="statpane">
          <div id="statpane-section1">
            <div style="padding: 10 15;">
              <b>Select YearRange</b>
              <div style="float:right;">
                <i class="fa fa-square" style="color:#e48268;"></i>&nbsp;Reviews
                <i class="fa fa-square" style="color: #6bacd0;"></i>&nbsp;Listings
              </div>
            </div>
            <div id="stat_charts" style="width: 385px; height: 230px;">
                <div id="reviews_bar_chart"></div>
                <div id="reviews_slider" style="margin-top: -5px; margin-left: 40px;" class="yearSlider"></div>
                <div id="listings_slider" style="margin-left: 40px;" class="yearSlider"></div>
                <div id="listings_bar_chart"></div>
              </div>
          </div>
          <div id="statpane-section2" style="margin-top: 100px;">
            <div style="padding: 10 15;">
              <div id="numbers_chart">
                <b>Statictics: Total</b>&nbsp;<span id="stats_total"></span>
                <div id="review_stat"></div>
                <div id="listing_stat"></div>
              </div>
            </div>
          </div>
          <div id="statpane-section3" style="border-top:1px #eee solid;">
              <div style="padding: 10 15;">
                <b>Selected Range (for flower)</b>
                <div><span id="review_range"></span>&nbsp;<span id="listing_range"></span></div>
                <div><span id="review_count"></span>,&nbsp;<span id="listing_count"></span></div>
              </div>
              <div style="padding: 0 15;">
                <b>Include Hostels</b>
                <input class="self-cite" type="checkbox" checked="checked" onclick="updateConfigUrl()" style="float:left; margin:5 10 0 0" name="self-cite" id="self-cite" />
              </div>
              <div style="padding-left: 5%; padding-bottom: 2%;">
                <center><button id="submit_stats" type="button" class="btn btn-primary">Update
                  Flower</button></center>
              </div>
          </div>
          <div id="statpane-section4" style="border-top:1px #eee solid;">
            <div style="padding: 10 15;">
              <div >Number of petals&nbsp;<span ><input id="num_of_petals" style="width: 60px;" type="number" value="25"/></span></div>
            </div>
            <div style="padding: 0 15;">
              <div >Petal order&nbsp;
                <select id="petal_order" onchange="orderchange()">
                  <option value="ratio">Influence Ratio</option>
                  <option value="blue">Influenced By Blue</option>
                  <option value="red">Influencing By Red</option>
                  <option value="total">Total Influence</option>
                </select>
              </div>
            </div>
        </div>
        </div>
      </section>
    </aside>
    <div id="flower" style="padding-top: 10px"></div>
    <div id="bar_chart" style="position: absolute; bottom: 30; left: 300;"></div>
    <!-- <div id="reviews_bar_chart"></div> -->
    <!-- <div id="reviews_slider" class="yearSlider"></div>
    <div id="listings_slider" class="yearSlider"></div> -->
    <!-- <div id="listings_bar_chart"></div> -->
    <!-- <div style="padding-left: 5%;"><button id="submit_stats" type="button" class="btn btn-primary">Update
        Flower</button></div> -->
    <div id="hidden_div" style="display:hidden;"></div>
  </div>
</body>

<script src="{% static 'js/airbnb_statchart.js' %} "></script>
<script src="{% static 'js/wNumb.min.js' %} "></script>
<script src="https://kit.fontawesome.com/69dd8b541f.js" crossorigin="anonymous"></script>
<script type="text/javascript">
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };

  $(document).ready(function () {

    var city_name = getUrlParameter('city_name').toLowerCase();

    city_name = city_name.split(' ').join('');

    var db_country_name = new Map();
    db_country_name.set('austin', 'us_data');
    db_country_name.set('boston', 'us_data');
    db_country_name.set('chicago', 'us_data');
    db_country_name.set('losangeles', 'us_data');
    db_country_name.set('newyork', 'us_data');
    db_country_name.set('bristol', 'uk_data');
    db_country_name.set('edinburgh', 'uk_data');
    db_country_name.set('london', 'uk_data');
    db_country_name.set('manchester', 'uk_data');
    db_country_name.set('milan', 'italy_data');
    db_country_name.set('naples', 'italy_data');
    db_country_name.set('rome', 'italy_data');
    db_country_name.set('venice', 'italy_data');

    var chartoption = {
      min: 2009,
      max: 2019,
      xticks: 10, yticks: 3,
      width: 200, height: 30
    }

    var review_chart = new ReviewChart('#reviews_bar_chart');
    var listing_chart = new ListingChart('#listings_bar_chart');
    var bottom_chart = new BottomChart('#');
    var review_slider = document.getElementById('reviews_slider');
    var listing_slider = document.getElementById('listings_slider');
    noUiSlider.create(review_slider, {
      connect: true,
      behaviour: 'tap',
      start: [chartoption.min, chartoption.max],
      step: 1,
      animate: true,
      range: {
        'min': [chartoption.min],
        'max': [chartoption.max]
      },
      format: wNumb({
        decimal: 0
      })
    });

    noUiSlider.create(listing_slider, {
      connect: true,
      behaviour: 'tap',
      start: [chartoption.min, chartoption.max],
      step: 1,
      animate: false,
      range: {
        'min': [chartoption.min],
        'max': [chartoption.max]
      },
      format: wNumb({
        decimal: 0
      })
    });

    var handles = [
      review_slider.getElementsByClassName('noUi-handle-lower')[0],
      review_slider.getElementsByClassName('noUi-handle-upper')[0],
      listing_slider.getElementsByClassName('noUi-handle-lower')[0],
      listing_slider.getElementsByClassName('noUi-handle-upper')[0]
    ];
    // var labels = [
    //   document.getElementById('reviews-lower-value'),
    //   document.getElementById('reviews-upper-value'),
    //   document.getElementById('listings-lower-value'),
    //   document.getElementById('listings-upper-value')
    // ];

    review_slider.noUiSlider.on('update', function (values, handle) {
      handles[handle].innerText = parseInt(values[handle]);
      // lables[handle].innerText = parseInt(values[handle]);
      // updateValues();
      review_chart.updateRangeValues(values[0], values[1])
    });

    listing_slider.noUiSlider.on('update', function (values, handle) {
      handles[handle + 2].innerText = parseInt(values[handle]);
      // lables[handle].innerText = parseInt(values[handle]);
      // updateValues();
      listing_chart.updateRangeValues(values[0], values[1]);
      // review_chart.initChart(result);
      var minyear = values[0], max_year = values[1];
      var data = $('#hidden_div').val();
      var dataObj = [];
      if(data != ""){
        var reviewObj = {};
        reviewObj['2009'] = 0;
        reviewObj['2010'] = 0;
        reviewObj['2011'] = 0;
        reviewObj['2012'] = 0;
        reviewObj['2013'] = 0;
        reviewObj['2014'] = 0;
        reviewObj['2015'] = 0;
        reviewObj['2016'] = 0;
        reviewObj['2017'] = 0;
        reviewObj['2018'] = 0;
        reviewObj['2019'] = 0;
        Object.entries(data).forEach(entry => {
          let key = entry[0];
          let value = entry[1];
          if(minyear<= key && max_year>=key){
            Object.entries(value).forEach(review => {
              reviewObj[review[0]] += review[1];
            });
          }
        });
        for(var val in reviewObj){
          dataObj.push({"year": val, "num_of_reviews": reviewObj[val]});
        }
      review_chart.initChart(dataObj);
      }

      // console.log();
    });

    $.ajax({
      type: "POST",
      url: "/loadbarchart/",
      data: { "city_name": JSON.stringify(city_name), "country_name": JSON.stringify(db_country_name.get(city_name)) },
      success: function (result) { // return data if success
        $('#hidden_div').val(result['listingsReviewsInfo']);
        // console.log(result);
        //Bottom chart
        bottom_chart.initChart(result['bars']);

        //stat chart 1
        review_chart.initChart(result['numReviews']);

        //Stat chart 2
        listing_chart.initChart(result['numListings']);

      },
      error: function (result) {
      }
    });

    $("#submit_stats").on('click', function () {
      var city_name = getUrlParameter('city_name').toLowerCase();
      console.log(review_slider.noUiSlider.get());
      // console.log(review_slider.getElementsByClassName('noUi-handle-upper')[0]);
      console.log(listing_slider.noUiSlider.get());
      // console.log(listing_slider.getElementsByClassName('noUi-handle-upper')[0]);
      $.ajax({
        type: "POST",
        url: "/regenerate",
        data: {
          city_name: JSON.stringify(city_name),
          country_name: JSON.stringify(db_country_name.get(city_name)),
          from_review_year: review_slider.noUiSlider.get()[0],
          to_review_year: review_slider.noUiSlider.get()[1],
          from_listing_year: listing_slider.noUiSlider.get()[0],
          to_listing_year: listing_slider.noUiSlider.get()[1]
        },
        success: function (result) {
          console.log(result);
          var bottom_chart = new BottomChart('#');
          bottom_chart.initChart(result['bars']);
        }
      });
    });

  });
</script>

</html>