{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/airbnbapp.css' %}" />
<link rel="stylesheet" href="{% static 'css/skins/skin-custom.css' %}">
<html>
{% include 'header.html' %}

<body class="hold-transition skin-custom sidebar-mini">
  <div class="wrapper">
    <header class="main-header header-browse">
      {% include 'pagehead.html' %}
    </header>
    {% include 'side-nav.html' %}

    <div style="min-height: 100%;margin-top: 50px;" class="content-wrapper content-wrapper-browse">

      <div class="content_section" data-displayname="Airbnb" data-level="g">
        <section class="content-header" style="padding-top: 5px;">
          <h2>
            Airbnb
          </h2>
        </section>

        <div class="content_section" data-displayname="Cities" data-level="sg" data-g="Airbnb">

          <section class="content-header">
            <h4>
              Cities
            </h4>
            <!-- <p style="font-size: 10px;">Select the genres from the list and click on <b>Generate</b></p> -->
          </section>

          <section class="content">
            <div class="row">
              <div class="col-xs-12" style="margin-left: 10px;">
                <div class="row">
                  {% for entity in entity_list %}
                  <div class="info-box" id="{{entity.s_no}}">
                    <div class="info-box-content">
                      <div class="info-box-text"><div style="text-align: center;" id="{{entity.s_no}}_id" class="generateFlower">{{entity.display_name}}</div></div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-xs-12" style="margin-left: 15px;">
                <button class="btn btn-primary submit-btn" type="submit">Generate</button></div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  $(".info-box").on('click', function () {
    var id = this.id;
    var cityname = $("#"+id+"_id").text();
    console.log(cityname);
    // selectedGenres = []
    // $("input:checkbox[class=genreCheckBox]:checked").each(function () {
    //   selectedGenres.push($(this).val());
    // });
    // if(selectedGenres.length != 0)
      location.href = "/loadairbnbflower?city_name=" + cityname
    // console.log("clicked");
  })

  $(document).ready(function () {
  });
</script>

</html>