{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/movieapp.css' %}" />
<link rel="stylesheet" href="{% static 'css/skins/skin-custom.css' %}">
<html>
{% include 'header.html' %}

<body class="hold-transition skin-custom sidebar-mini">
  <div class="wrapper">
    <header class="main-header header-browse">
      {% include 'pagehead.html' %}
    </header>
    {% include 'side-navbar.html' %}

    <div style="min-height: 100%;margin-top: 50px;" class="content-wrapper content-wrapper-browse">

      <div class="content_section" data-displayname="Movies" data-level="g">
        <section class="content-header" style="padding-top: 5px;">
          <h2>
            Movies
          </h2>
        </section>

        <div class="content_section" data-displayname="Genres" data-level="sg" data-g="Movies">

          <section class="content-header">
            <h4>
              Genres
            </h4>
            <p style="font-size: 10px;">Select the genres from the list and click on <b>Generate</b></p>
          </section>

          <section class="content">
            <div class="row">
              <div class="col-xs-12" style="margin-left: 10px;">
                <div class="row">
                  {% for entity in entity_list %}
                  <div class="info-box">
                    <div class="info-box-content">
                      <div class="info-box-text"><input type="checkbox" class="genreCheckBox"
                          value="{{entity.display_name}}">&nbsp;&nbsp;&nbsp;{{entity.display_name}}</div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-xs-12" style="margin-left: 15px;">
                <button class="btn btn-primary submit-btn" type="submit">Generate</button></div>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  $(".submit-btn").on('click', function () {
    selectedGenres = []
    $("input:checkbox[class=genreCheckBox]:checked").each(function () {
      selectedGenres.push($(this).val());
    });
    if(selectedGenres.length != 0)
      location.href = "/moviesflower/?genre_list=" + selectedGenres

  })

  $(document).ready(function () {
  });
</script>

</html>