.content-wrapper-home {
  background-color: #fff;
}
.content-wrapper-home,
.main-footer-home {
  margin-left: 0;
}
.main-sidebar-wide {
  width: 440px;
  background-color: #fff;
}
.main-sidebar-dark {
  width: 270px;
  background-color: #222d32;
}
.content-wrapper-browse {
  min-height: 0;
  margin-left: 270px;
  z-index: 800;
}
.info-box {
  min-height: 50px;
  max-height: auto;
  border: 1px solid gray;
  width: 260px;
  float: left;
  margin: 5px 0px 5px 20px;
  color: black;
}
.info-box-content {
  margin-left: 5px;
  padding: 9px 5px;
}
.info-box-text {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.yearslider {
  height: 15px;
  width: 315px;
  margin: 12 20 6 40;
}
.noUi-horizontal .noUi-handle {
  width: auto;
  height: 24;
  font-size: 14px;
  line-height: 1.8;
  /* padding: 0 5; */
}
/* .noUi-handle:after, .noUi-handle:before {
 
} */
div#reviews_slider .noUI-connect {
  background: #F47E60;
}
div#listings_slider .noUi-connect {
  background: #6BACD0;
}
